<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke">
    <parameter name="Url" value="https://qa.koel.app/"/>

    <test name="Smoke Login">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="Cucumber Login">
        <classes>
            <class name="runners.LoginRunner"/>
        </classes>
    </test>
</suite>